/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


@font-face {
  font-family: "starwars";
  src: url('./assets/Starjedi.ttf') format("truetype");
}



h1 {
  font-family: "Borderlands";
  color: yellow;
  text-align: center;
  font-size: 4rem;
}

@font-face {
  font-family: "borderlands";
  src: url('./assets/borderlands.otf') format("opentype");
}

.header {
  text-align: center;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.vid {
  width: 60px;
  height: 60px;
}

.home-nav {
  list-style-type: none;
}

.navi {
  font-family: "borderlands";
  color:darkred;
  padding: 20px
}

.navi a {
  color: crimson;
  padding: 20px
}
.navi a:hover, .navi a:focus {
  color:maroon
}

.home-nav img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.home-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 20px 0;
  gap: 30px; 
}